/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #092e33;
  font-family: 'Roboto';
  padding: 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}